.header {
  display: block;
  height: 100px;
  background-color: #0a8ea0;
  margin: 0;
  text-align: center;
  font-size: 2.2vw;
  line-height: 100px;
}
body {
  background-color: #30c39e;
}
h2 {
  margin: 0;
}


.wrapper {
  height: 100%;
}
.content {
  float: left;
  margin-left: 20%;
  width: 70%;
  padding-left: 10%;
}